<section id="contact" class="bg-white">
    <div class="section-content">
        <h3 class="text-muted">Contact me</h3>
        <div class="row">
            <div class="col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box icon-box-2">
                    <span class="icon icon-sm icon-circle icon-primary"><i class="fa fa-map-marker"></i></span>
                    <div class="icon-box-content">
                        <h6 class="text-muted">Address:</h6>
                        <address class="text-md mb-0">
                            Plano<br>
                            Dallas, Texas,<br>
                            USA
                        </address>
                    </div>
                </div>
                <!-- Icon Box -->
                <div class="icon-box icon-box-2">
                    <span class="icon icon-sm icon-circle icon-primary"><i class="fa fa-envelope"></i></span>
                    <div class="icon-box-content">
                        <h6 class="text-muted">E-mail:</h6>
                        <a href="#" class="link-underline text-md">sharathgoud90@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <form id="contact-form" class="contact-form validate-form">
                    <div class="form-group input-wrapper">
                        <input name="name" type="text" class="form-control" required>
                        <span class="input-label">Name</span>
                    </div>
                    <div class="form-group input-wrapper">
                        <input name="email" type="email" class="form-control" required>
                        <span class="input-label">E-mail</span>
                    </div>
                    <div class="form-group input-wrapper">
                        <textarea name="message" cols="30" rows="4" class="form-control"></textarea>
                        <span class="input-label">Message</span>
                        <span class="input-line"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-push-2">
                            <button type="submit" class="btn btn-submit"><span>Send message</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="google-map" class="h-300" data-latitude="33.090098" data-longitude="-96.746876"></div>
</section>