<section id="services" class="bg-white">
    <div class="section-content">
        <h3 class="text-muted">My services</h3>
        <div class="row">
            <div class="col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box icon-box-1 text-center animated" data-animation="zoomIn">
                    <span class="icon icon-muted icon-xl"><i class="ti-desktop"></i></span>
                    <h3 class="mb-10">Web Development</h3>
                    <p class="lead text-muted">Proffesional &amp; effective coding serivices</p>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box icon-box-1 text-center animated" data-animation="zoomIn" data-animation-delay="100">
                    <span class="icon icon-muted icon-xl"><i class="ti-layers-alt"></i></span>
                    <h3 class="mb-10">Back-End Development</h3>
                    <p class="lead text-muted">Proffesional &amp; effective coding serivices</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box icon-box-1 text-center animated" data-animation="zoomIn" data-animation-delay="200">
                    <span class="icon icon-muted icon-xl"><i class="ti-mobile"></i></span>
                    <h3 class="mb-10">E-commerce/CMS</h3>
                    <p class="lead text-muted">Proffesional &amp; effective coding serivices</p>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box icon-box-1 text-center animated" data-animation="zoomIn" data-animation-delay="300">
                    <span class="icon icon-muted icon-xl"><i class="ti-mouse-alt"></i></span>
                    <h3 class="mb-10">Corporate Identity</h3>
                    <p class="lead text-muted">Proffesional &amp; effective coding serivices</p>
                </div>
            </div>
        </div>
    </div>
</section>