<section id="works" class="bg-white">
    <div class="section-content clearfix">
        <h3 class="text-muted mb-0 pull-left">My works</h3>
        <nav class="filter tabs-wrapper pull-right">
            <ul class="filter-isotope nav nav-tabs" data-filter-list="#works-list">
                <li class="active"><a href="#" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".webdesign">Webdesign</a></li>
                <li><a href="#" data-filter=".development">Development</a></li>
            </ul>
            <span class="selector"></span>
        </nav>
    </div>
    
    <div class="images-list-wrapper">
        <div id="works-list" class="masonry images-list filter-list row no-padding">
            <div class="masonry-sizer col-md-4 col-sm-6 col-xs-12"></div>
            <div class="masonry-item webdesign col-md-8 col-sm-6 col-xs-12">
                <!-- Media Item -->
                <div class="image-box image-hover bg-black text-center">
                    <div class="image">
                        <img src="/content/dam/my-portfolio/english/images/works/work-1.jpg" alt="">
                    </div>
                    <div class="hover">
                        <a href="#">
                            <h5 class="mb-0">AEM</h5>
                            <span class="text-muted">Webdesign</span>
                        </a>
                        <a href=#" data-toggle="ajax-modal" class="btn btn-xs btn-white">Case Study <span class="i-after i"><i class="ti-desktop"></i><i class="ti-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="masonry-item development col-md-4 col-sm-6 col-xs-12">
                <!-- Media Item -->
                <div class="image-box image-hover bg-black text-center">
                    <div class="image">
                        <img src="/content/dam/my-portfolio/english/images/works/work-2.png" alt="">
                    </div>
                    <div class="hover">
                        <a href="#">
                            <h5 class="mb-0">The Architecture</h5>
                            <span class="text-muted">Corporate Identity</span>
                        </a>
                        <a href="#" data-toggle="ajax-modal" class="btn btn-xs btn-white">Case Study <span class="i-after i"><i class="ti-desktop"></i><i class="ti-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="masonry-item webdesign col-md-4 col-sm-6 col-xs-12">
                <!-- Media Item -->
                <div class="image-box image-hover bg-black text-center">
                    <div class="image">
                        <img src="/content/dam/my-portfolio/english/images/works/work-3.png" alt="">
                    </div>
                    <div class="hover">
                        <a href="#">
                            <h5 class="mb-0">LazyBones</h5>
                            <span class="text-muted">Webdesign</span>
                        </a>
                        <a href="#" data-toggle="ajax-modal" class="btn btn-xs btn-white">Case Study <span class="i-after i"><i class="ti-desktop"></i><i class="ti-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="masonry-item corporate-identity col-md-4 col-sm-6 col-xs-12">
                <!-- Media Item -->
                <div class="image-box image-hover bg-black text-center">
                    <div class="image">
                        <img src="/content/dam/my-portfolio/english/images/works/work-4.jpg" alt="">
                    </div>
                    <div class="hover">
                        <a href="#">
                            <h5 class="mb-0">Navigation</h5>
                            <span class="text-muted">Webdesign / Webdevelopment</span>
                        </a>
                        <a href="#" data-toggle="ajax-modal" class="btn btn-xs btn-white">Case Study <span class="i-after i"><i class="ti-desktop"></i><i class="ti-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="masonry-item development col-md-8 col-sm-6 col-xs-12">
                <!-- Media Item -->
                <div class="image-box image-hover bg-black text-center">
                    <div class="image">
                        <img src="/content/dam/my-portfolio/english/images/works/work-5.jpg" alt="">
                    </div>
                    <div class="hover">
                        <a href="#">
                            <h5 class="mb-0">Challenges</h5>
                            <span class="text-muted">Webdevelopment</span>
                        </a>
                        <a href="#" data-toggle="ajax-modal" class="btn btn-xs btn-white">Case Study <span class="i-after i"><i class="ti-desktop"></i><i class="ti-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="images-list-hover">
            <div class="content">
            </div>
        </div>
    </div>
</section>