<section id="experience" class="bg-white">
    <div class="section-content">
        <h3 class="text-muted">Education &amp; Jobs</h3>
        <div class="timeline">
            <!-- Event-->
            <div class="timeline-event animated">
                <div class="date"><span>03.2017 - Present</span></div>
                <div class="content">
                    <h3>AEM Developer at G6 Hospitality</h3>
                    <span class="caption">Texas, USA</span>
                </div>
            </div>
            <!-- Event-->
            <div class="timeline-event animated">
                <div class="date"><span>03.2016 - 02.2017</span></div>
                <div class="content">
                    <img src="/etc/designs/my-portfolio/clientlibs/img/photos/london.jpg" alt="" class="img-rounded">
                    <h3>AEM &amp; Back End Developer at AT&amp;T</h3>
                    <span class="caption">Atlanta, USA</span>
                </div>
            </div>
            <!-- Event-->
            <div class="timeline-event animated">
                <div class="date"><span>09.2015 - 02.2016</span></div>
                <div class="content">
                    <h3>AEM Developer at Supervalu Inc</h3>
                    <span class="caption">Minneapolis, USA</span>
                </div>
            </div>
        </div>
    </div>
</section>