<section id="references" class="bg-white">
    <div class="section-content">
        <h3 class="text-muted">References</h3>
        <div class="masonry row">
            <div class="masonry-sizer col-sm-6 col-xs-12"></div>
            <div class="masonry-item col-sm-6 col-xs-12">
                <!-- Testimonial -->
                <div class="testimonial animated" data-animation="fadeInUp">
                    <div class="testimonial-content">
                        The most experiences guy I have ever met before. Huge knowledge & really cool personality.
                    </div>
                    <div class="testimonial-author with-image">
                        <img src="/etc/designs/my-portfolio/clientlibs/img/users/user01.jpg" alt="">
                        <div class="name">VAMSI, AEM Developer</div>
                        <span class="text-muted">AT&amp;T, GA, USA</span>
                    </div>
                </div>
            </div>
            <div class="masonry-item col-sm-6 col-xs-12">
                <!-- Testimonial -->
                <div class="testimonial testimonial-primary animated" data-animation="fadeInUp" data-animation-delay="100">
                    <div class="testimonial-content">
                        Sharath is a highly talented, sincere, and focused team member which was highly a part in our project development. he was very enjoyable to work with on a daily basis. He is an excellent oppurtunity to any team and it will be interesting to have him on site. 
                    </div>
                    <div class="testimonial-author">
                        <div class="name">SANDHYA, Java Developer</div>
                        <span class="text-muted">Supervalu Inc, Minneapolis, MN, USA</span>
                    </div>
                </div>
            </div>
            <div class="masonry-item col-sm-6 col-xs-12">
                <!-- Testimonial -->
                <div class="testimonial testimonial-primary animated" data-animation="fadeInUp" data-animation-delay="200">
                    <div class="testimonial-content">
                        Very work-friendly and reliable to customers, his ability to grasp technologies is excellent. 
                    </div>
                    <div class="testimonial-author">
                        <div class="name">AJAY BHASKER REDDY, Manager</div>
                        <span class="text-muted">Proximate Technologies Inc., TX, USA</span>
                    </div>
                </div>
            </div>
            <div class="masonry-item col-sm-6 col-xs-12">
                <!-- Testimonial -->
                <div class="testimonial animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="testimonial-content">
                        Sharath is highly talented and focused, result orientated person, his goals will take him to a sucessful position in his Life.
                    </div>
                    <div class="testimonial-author with-image">
                        <img src="/etc/designs/my-portfolio/clientlibs/img/users/user01.jpg" alt="">
                        <div class="name">DHARMENDER, HR</div>
                        <span class="text-muted">Promatrix Corp., NJ, USA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>