		<div class="container" data-sly-use.crump="breadcrump.js">
			<nav class="menu module left">
				<a href="${crump.hostName}${properties.homePage @ extension='html'}" class="active">Home</a>
				<a href="${crump.hostName}${properties.blogPage @ extension='html'}">Blog</a>
				<a href="${crump.hostName}${properties.docsPage @ extension='html'}" target="_blank">Docs</a>
			</nav>
			<nav class="language menu module right hidden-xs">
				<span>Language version:</span>
				<a href="#" class="active">English</a>
				<a href="#">Polish</a>
				<a href="#">Spanish</a>
			</nav>
		</div>